 
body {
    background-color: #27374D; /* Fondo gris claro */
    font-family: 'Roboto', sans-serif; /* Utiliza la fuente Roboto */;
}

.tituloInscripciones {
    color: white; 
    margin-bottom: 20px; /* Espaciado inferior */
    font-size: 36px; /* Tamaño de fuente */
}

.container {
    margin-top: 50px; /* Margen superior */
}

/* Estilos para la tabla */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #333; /* Texto negro */
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #526D82; /* Azul Bootstrap */
    color: #fff; /* Texto blanco */
}

/* Estilos para la fila de "No hay inscripciones disponibles" */
.table tbody tr td[colspan="6"] {
    text-align: center;
    font-style: italic;
    color: #555; /* Texto gris oscuro */
}

/* Estilos de las filas alternas (alternancia de colores) */
.table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Fondo gris claro */
}

.table tbody tr:nth-child(odd) {
    background-color: #fff; /* Fondo blanco */
}

/* Estilo de hover para las filas */
.table tbody tr:hover {
    background-color: #d4ebf2; /* Fondo azul claro al pasar el ratón sobre la fila */
}

 
/* Estilo personalizado para el botón Volver */
.btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #007bff; /* Color del borde */
    color: #007bff; /* Color del texto */
    background-color: #fff; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

 
.btn-volver:hover {
    background-color: #007bff;  
    color: #fff;  
    border-color: #007bff;  
}
