@charset "ISO-8859-1";
/* Estilos generales */
body {
  background: linear-gradient(#40513B, #609966, #9DC08B, #609966, #40513B);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilos para el contenido */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.recovery-container {
  text-align: center;
  padding: 3rem 0;
  flex-grow: 1;
  margin-top: 4rem;
}

.recovery-form {
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.945);
  padding: 2rem;
  max-width: 20rem;
  margin: 0 auto;
}

.recovery-form h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.input-container {
  margin-bottom: 1rem;
}

.input-container label {
  display: block;
  margin-bottom: 0.3125rem;
  font-size: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.3125rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.945);
}

.recovery-button {
  display: block;
  background-color: #40513B;
  color: #fff;
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  margin-top: 2rem;
}

.recovery-button:hover {
  background-color: #609966;
}

/* Estilos del pie de página */
footer {
  text-align: center;
  background-color: #40513B;
  padding: 0.25rem 0;
  width: 100%;
}

footer p {
  font-size: 0.75rem;
  color: #000;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
